<div class="list-wrapper">
  <div class="title-bar">
    <div class="title-section">
      <p>Offene SIR</p>
      <span>43</span>
    </div>
    <div class="sort-wrapper">
      <mat-icon _ngcontent-axk-c50="" role="img" class="mat-icon notranslate material-icons sort-icon mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">sort</mat-icon>
    </div>
    <div class="dropdown-section">
      <p>Alle</p>
      <mat-icon _ngcontent-axk-c50="" role="img" aria-hidden="false" class="mat-icon notranslate material-icons mat-icon-no-color expand-icon" data-mat-icon-type="font">keyboard_arrow_down</mat-icon>
      <!-- <app-dropdown [selectedOption]="selectedOption"
                    [type]="selectedDropdown"
                    (selected)="selectOption($event)"
                    *ngIf="showDropdown">
      </app-dropdown> -->
    </div>
  </div>""""""""
</div>