<mat-menu #menuObjectstructure="matMenu">
  <button mat-menu-item>Alle</button><mat-divider></mat-divider>
  <button mat-menu-item>020-0802 Werkzeugzentrallager</button><mat-divider></mat-divider>
  <button mat-menu-item>020-1302 TG/OE Leitung allgem</button><mat-divider></mat-divider>
  <button mat-menu-item>020-1802 KEM Fertigung allg.</button><mat-divider></mat-divider>
  <button mat-menu-item>020-7732 Werkstransport allg.</button><mat-divider></mat-divider>
  <button mat-menu-item>020-8082 Bau 8 Metallb.</button><mat-divider></mat-divider>
  <button mat-menu-item>Alle Greifer</button><mat-divider></mat-divider>
  <button mat-menu-item>Alle Motoren mit Lüfter</button><mat-divider></mat-divider>
  <button mat-menu-item>Axiallager</button>
</mat-menu>